[package]
name = "cli"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.53", features = ["derive"] }
codegen = { version = "0.1.0", path = "../codegen" }
frontend = { version = "0.1.0", path = "../frontend" }
